services:
  db:
    container_name: postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5332:5432"
    networks:
      - backend
    restart: unless-stopped

  mongo1:
    container_name: mongo1
    image: mongo:6.0
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    volumes:
      - mongo1_data:/data/db
    networks:
      - backend


  mongo-init-replica:
    image: mongo:6.0
    container_name: mongo-init-replica
    depends_on:
      - mongo1
    entrypoint: >
      bash -c "
        sleep 5 &&
        mongo --host mongo1:27017 --eval '
          rs.initiate({
            _id: \"rs0\",
            members: [{ _id: 0, host: \"mongo1:27017\" }]
          });
        '
      "
    networks:
      - backend



networks:
  backend:
    driver: bridge

volumes:
  db:
  mongo1_data:
